includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    checkUninitializedProperties: true
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    excludePaths:
        - src/Infrastructure/Migration/*
